<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Planning Page</title>

    <!-- Bootstrap -->
    <link href="assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- NProgress -->
    <link href="assets/vendors/nprogress/nprogress.css" rel="stylesheet" />
    <!-- iCheck -->
    <link href="assets/vendors/iCheck/skins/flat/green.css" rel="stylesheet" />
    <!-- bootstrap-wysiwyg -->
    <link href="assets/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet" />
    <!-- Select2 -->
    <link href="assets/vendors/select2/dist/css/select2.min.css" rel="stylesheet" />
    <!-- Switchery -->
    <link href="assets/vendors/switchery/dist/switchery.min.css" rel="stylesheet" />
    <!-- starrr -->
    <link href="assets/vendors/starrr/dist/starrr.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="assets/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />

    <!-- Custom Theme Style -->
    <link href="assets/build/css/custom.min.css" rel="stylesheet" />
</head>



<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <%- include ./nav.ejs %>
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="col-md-9">
                            <h3>Planning</h3>
                            <h3> Recommendation Name: <%= dataB[0].recommendation_Name %></h3>
                        </div>
                        <div class="col-md-3">
                            <a type="button" class="btn btn-primary btn-lg" href="/debug1" style="float: right">Go Back</a><br /><br />
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_content">

                                <div>

                                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                            <li role="presentation" class="">
                                                <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab"
                                                    aria-expanded="true">View
                                                    Plan</a>
                                            </li>
                                            <li role="presentation" class="">
                                                <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab"
                                                    aria-expanded="false">Create
                                                    Plan</a>
                                            </li>
                                            <li role="presentation" class="">
                                                <a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab"
                                                    aria-expanded="false">Assign to Group</a>
                                            </li>
                                        </ul>

                                        <!VIEW PLANS TAB>
                                            <div id="myTabContent" class="tab-content">
                                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1"
                                                    aria-labelledby="home-tab">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>General Objective</th>
                                                                <th>Measurement</th>
                                                                <th>Base Formula</th>
                                                                <th>Base Standard</th>
                                                                <th>Quality Targets</th>
                                                                <th>Group Assigned</th>
                                                                <th>Priority Level</th>
                                                                <!--High, Medium, Low-->
                                                                <th>Cycle Time</th>
                                                                <th>Procedures</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% for (var plan of data) { %>
                                                            <tr>
                                                                <td><%= plan.GenObjective %></td>
                                                                <td><%= plan.Measurement %></td>
                                                                <td><%= plan.BaseFormula %></td>
                                                                <td>Base Standard</td>
                                                                <td><%= plan.QualityTarget %></td>
                                                                <td>Group Assigned</td>
                                                                <td>Priority Level</td>
                                                                <td>Cycle Time</td>
                                                                <td>Procedures</td>
                                                            </tr>
                                                            <% } %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!CREATE PLAN TAB>
                                                    <div role="tabpanel" class="tab-pane fade" id="tab_content2"
                                                        aria-labelledby="profile-tab">
                                                        <form id="create" data-parsley-validate
                                                            class="form-horizontal form-label-left" method="post"
                                                            action="SendPlan">
                                                            <!General Objective input field>
                                                                <div class="form-group">
                                                                    <label
                                                                        class="control-label col-md-3 col-sm-3 col-xs-12"
                                                                        for="Task Name">General Objective: <span
                                                                            class="required">*</span>
                                                                    </label>
                                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                                        <input type="text" id="Task Name" name="GenObj"
                                                                            required="required"
                                                                            class="form-control col-md-7 col-xs-12"
                                                                            placeholder="General Objective">
                                                                    </div>
                                                                </div>
                                                                <!--Measurement input field-->
                                                                <div class="form-group">
                                                                    <label for="Quality Target"
                                                                        class="control-label col-md-3 col-sm-3 col-xs-12">Measurement:
                                                                        <span class="required">*</span></label>
                                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                                        <textarea class="form-control" rows="3"
                                                                            id="TaskDesc" name="PlanM"
                                                                            placeholder="Measurement"
                                                                            required="required"
                                                                            onkeyup="textAreaAdjust(this)"
                                                                            style="overflow:hidden"></textarea>
                                                                    </div>
                                                                </div>
                                                                <!--Base Formula input field-->
                                                                <div class="form-group">
                                                                    <label for="Quality Target"
                                                                        class="control-label col-md-3 col-sm-3 col-xs-12">Base
                                                                        Formula: </label>
                                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                                        <textarea class="form-control" rows="3"
                                                                            id="General Objective" name="BaseFormula"
                                                                            placeholder="Base Formula"
                                                                            onkeyup="textAreaAdjust(this)"
                                                                            style="overflow:hidden"></textarea>
                                                                    </div>
                                                                </div>
                                                                <!--Quality Target Input field-->
                                                                <div class="form-group">
                                                                    <label for="Quality Target"
                                                                        class="control-label col-md-3 col-sm-3 col-xs-12">Quality
                                                                        Target: </label>
                                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                                        <textarea class="form-control" rows="3"
                                                                            id="Measurement"
                                                                            placeholder="Quality Target"
                                                                            name="QualityTarget"
                                                                            onkeyup="textAreaAdjust(this)"
                                                                            style="overflow:hidden"></textarea>
                                                                    </div>
                                                                </div>
                                                                <!--Procedures input field-->
                                                                <div class="form-group">
                                                                    <label
                                                                        class="control-label col-md-3 col-sm-3 col-xs-12">Procedures:
                                                                    </label>
                                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                                        <textarea class="form-control" rows="3"
                                                                            id="Quality Targets"
                                                                            placeholder="Procedures" name="Procedures"
                                                                            onkeyup="textAreaAdjust(this)"
                                                                            style="overflow:hidden"></textarea>
                                                                    </div>
                                                                </div>

                                                                <!--Buttons to submit-->

                                                                <div
                                                                    class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                                    <button class="btn btn-primary"
                                                                        type="reset">Reset</button>
                                                                    <button type="submit" form="create"
                                                                        class="btn btn-primary">Submit</button>
                                                                </div>
                                                            
                                                            <input type="hidden" name="RID" value="<%= dataB[0].recommendation_ID %>">
                                                        </form>

                                                    </div>

                                                    <!--ASSIGN PLAN TO GROUP TAB-->
                                                    <div role="tabpanel" class="tab-pane fade" id="tab_content3"
                                                        aria-labelledby="profile-tab">
                                                        <form id="Assign" data-parsley-validate
                                                            class="form-horizontal form-label-left">
                                                            <!--Group select dropdown-->
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                                    for="first-name">Group<span
                                                                        class="required">*</span>
                                                                </label>
                                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                                       
                                                                    <select class="form-control" name="role">
                                                                        <!CODE FOR RETRIEVVING AND SHOWING THE GROUPS FOR SELECTION>
                                                                        <% for (var group of dataB) { %>
                                                                        <option value=""><%= group.Area_Name %> <%= group.Group_Name %></option>
                                                                        <% } %>
                                                                    </select>
                                                                    
                                                                </div>
                                                            </div>
                                                            <!--Cycle Time dropdown-->
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                                    for="first-name">Cycle Time<span
                                                                        class="required">*</span>
                                                                </label>
                                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                                    <select class="form-control" name="role">
                                                                        <!--Use Area ID to retrieve groups from db-->
                                                                        <option>Group A</option>
                                                                        <option>Group B</option>
                                                                        <option>Group C</option>
                                                                        <option>Group F</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <!--Priority level dropdown-->
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                                    for="first-name">Priority
                                                                    Level<span class="required">*</span>
                                                                </label>
                                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                                    <select class="form-control" name="role">
                                                                        <option>High</option>
                                                                        <option>Medium</option>
                                                                        <option>Low</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <!--Base Standards dropdown-->
                                                            <div class="form-group">
                                                                <label for="Quality Target"
                                                                    class="control-label col-md-3 col-sm-3 col-xs-12">Base
                                                                    Standard</label>
                                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                                    <!--check onkeyup tag in text
                                                                                            area-->
                                                                    <textarea class="form-control" rows="3"
                                                                        id="General Objective"
                                                                        placeholder="Base Standard" required="required"
                                                                        onkeyup="textAreaAdjust(this)"
                                                                        style="overflow:hidden"></textarea>

                                                                </div>
                                                            </div>
                                                            <!--buttons-->
                                                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                                <button class="btn btn-primary"
                                                                    type="reset">Reset</button>
                                                                <button type="submit" form="Assign"
                                                                    class="btn btn-primary">
                                                                    Submit
                                                                </button>
                                                            </div>



                                                        </form>
                                                    </div>
                                            </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /page content -->

            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by
                    <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!script for dynamic text area>
        <script>
            function textAreaAdjust(o) {
                o.style.height = "1px";
                o.style.height = (25 + o.scrollHeight) + "px";
            }
        </script>

        <!-- jQuery -->
        <script src="assets/vendors/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- FastClick -->
        <script src="assets/vendors/fastclick/lib/fastclick.js"></script>
        <!-- NProgress -->
        <script src="assets/vendors/nprogress/nprogress.js"></script>
        <!-- bootstrap-progressbar -->
        <script src="assets/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
        <!-- iCheck -->
        <script src="assets/vendors/iCheck/icheck.min.js"></script>
        <!-- bootstrap-daterangepicker -->
        <script src="assets/vendors/moment/min/moment.min.js"></script>
        <script src="assets/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
        <!-- bootstrap-wysiwyg -->
        <script src="assets/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
        <script src="assets/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
        <script src="assets/vendors/google-code-prettify/src/prettify.js"></script>
        <!-- jQuery Tags Input -->
        <script src="assets/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
        <!-- Switchery -->
        <script src="assets/vendors/switchery/dist/switchery.min.js"></script>
        <!-- Select2 -->
        <script src="assets/vendors/select2/dist/js/select2.full.min.js"></script>
        <!-- Parsley -->
        <script src="assets/vendors/parsleyjs/dist/parsley.min.js"></script>
        <!-- Autosize -->
        <script src="assets/vendors/autosize/dist/autosize.min.js"></script>
        <!-- jQuery autocomplete -->
        <script src="assets/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
        <!-- starrr -->
        <script src="assets/vendors/starrr/dist/starrr.js"></script>
        <!-- Custom Theme Scripts -->
        <script src="assets/build/js/custom.min.js"></script>
</body>

</html>