<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Recommendations Page</title>

    <!-- Bootstrap -->
    <link href="assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- NProgress -->
    <link href="assets/vendors/nprogress/nprogress.css" rel="stylesheet" />
    <!-- iCheck -->
    <link href="assets/vendors/iCheck/skins/flat/green.css" rel="stylesheet" />
    <!-- bootstrap-wysiwyg -->
    <link href="assets/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet" />
    <!-- Select2 -->
    <link href="assets/vendors/select2/dist/css/select2.min.css" rel="stylesheet" />
    <!-- Switchery -->
    <link href="assets/vendors/switchery/dist/switchery.min.css" rel="stylesheet" />
    <!-- starrr -->
    <link href="assets/vendors/starrr/dist/starrr.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="assets/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />

    <!-- Custom Theme Style -->
    <link href="assets/build/css/custom.min.css" rel="stylesheet" />
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <%- include ./nav.ejs %>
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>Recommendations Non Ajax Page</h3>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_content">

                                <!BUTTONS FOR CREATE OF RECOMENDATION AND CYCLE TIME>
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target=".bs-example-modal-lg">
                                        Create Recommendation
                                    </button>
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target=".createCycle">
                                        Create Cycle
                                    </button>

                                    <!view table for users>
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Description</th>
                                                    <th>Given Grade</th>
                                                    <th>Priority Level</th>
                                                    <!High, Medium, Low>
                                                        <th>Status</th>
                                                        <! Status will be No Updates or Updated Last(Date Here)>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for (var recommendation of data) { %>
                                                <form method="get" action="editrecommendation">
                                                <tr>
                                                    <input type="hidden" name="UID" value="<%= recommendation.recommendation_ID %>">
                                                    <td><%= recommendation.recommendation_Name %></td>
                                                    <td><%= recommendation.recommendation_Desc %></td>
                                                    <td><%= recommendation.recommendation_Grade %></td>
                                                    <td><%= recommendation.priority_Level %></td>
                                                    <td><%= recommendation.status.toString().substring(0,15) %></td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div>
                                                                <!BUTTONS FOR EDIT AND PLAN>
                                                                    <button type="submit" class="btn btn-primary">Edit Recommendation</button>
                                                                    </form>
                                                                    <br/><br/>
                                                                    <form method="get" action="PlanPage">
                                                                        <input type="hidden" name="PID"
                                                                            value="<%= recommendation.recommendation_ID %>">
                                                                        <button type="submit"
                                                                            class="btn btn-primary">Add Plan</button>
                                                                    </form>
                                                                    <br /><br />
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <% } %>
                                            </tbody>
                                        </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!START RECOMMENDATIONS VIEW OF GROUP LEADER>
                <div class="right_col" role="main">

                    <div class="">
                        <div class="page-title">
                            <div class="title_left">
                                <h3>Recommendations Non Ajax Page Group Leader View</h3>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_content">


                                    <!--BUTTONS FOR CREATE OF RECOMENDATION AND CYCLE TIME-->
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target=".bs-example-modal-lg">
                                        Create Recommendation
                                    </button>
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target=".createCycle">
                                        Create Cycle
                                    </button>

                                    <!--view table for users-->
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th>Given Grade</th>
                                                <th>Priority Level</th>
                                                <!--High, Medium, Low-->
                                                <th>Status</th>
                                                <!-- Status will be No Updates or Updated Last(Date Here)-->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Prepare requirements in advance</td>
                                                <td>Delay in giving of final report due to excessive procrastination
                                                </td>
                                                <td>2</td>
                                                <td>High</td>
                                                <td>Updated Last: June 6, 2019</td>
                                                <td>
                                                    <div class="form-group">
                                                        <div>
                                                            <!BUTTONS FOR PLAN PAGE>
                                                                <a type="button" class="btn btn-primary"
                                                                    href="/PlanPage">
                                                                    Click Here To add Plan</a><br /><br />
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                    </div-->

                    <!-- /page content -->



                    <!--Modal for Create -->
                    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        Create Recommendation
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <form id="CreateRecommendation" data-parsley-validate
                                        class="form-horizontal form-label-left" action="addrecommendation"
                                        method="POST">
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                for="first-name">Recommendation Name<span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="recommendationName" name="recommendationName"
                                                    required="required" class="form-control col-md-7 col-xs-12"
                                                    placeholder="Name" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Quality Target"
                                                class="control-label col-md-3 col-sm-3 col-xs-12">Description<span
                                                    class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <textarea class="form-control" rows="3" id="recommendationDesc"
                                                    name="recommendationDesc" placeholder="Description"
                                                    required="required" onkeyup="textAreaAdjust(this)"
                                                    style="overflow:hidden"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                for="first-name">Given
                                                Grade<span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <select class="form-control" name="grade">
                                                    <!--Must be able  retrieve grading scheme from Grade setting-->
                                                    <option value="A">A</option>
                                                    <option value="B">B</option>
                                                    <option value="C">C</option>
                                                    <option value="F">F</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                for="first-name">Priority
                                                Level<span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <select class="form-control" name="priority">
                                                    <option value="High">High</option>
                                                    <option value="Medium">Medium</option>
                                                    <option value="Low">Low</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                                Close
                                            </button>
                                            <button type="submit" class="btn btn-primary" form="CreateRecommendation">
                                                Submit
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--MODAL FOR CREATE CYCLE-->
                    <div class="modal fade createCycle" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal2" value="Edit">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel2">Create Cycle</h4>
                                </div>
                                <div class="modal-body">
                                    <form id="CreateCycle" data-parsley-validate
                                        class="form-horizontal form-label-left" action="addcycle" method="POST">
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                for="first-name">Cycle
                                                Name<span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="first-name" name="cycleName" required="required"
                                                    class="form-control col-md-7 col-xs-12" placeholder="Name" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                for="first-name">Set Cycle
                                                Time:<span class="required"></span>
                                            </label>
                                            <form class="form-group">
                                                <fieldset>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <div class="controls">
                                                            <div class="input-prepend input-group">
                                                                <span class="add-on input-group-addon"><i
                                                                        class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                                                <input type="text" name="date"
                                                                    id="reservation" class="form-control"
                                                                    value="" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                                Close
                                            </button>
                                            <button type="submit" class="btn btn-primary" form="CreateCycle">
                                                Submit
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- footer content -->
                    <footer>
                        <div class="pull-right">
                            Gentelella - Bootstrap Admin Template by
                            <a href="https://colorlib.com">Colorlib</a>
                        </div>
                        <div class="clearfix"></div>
                    </footer>
                    <!-- /footer content -->
                </div>
        </div>

        <!script for dynamic text area>
            <script>
                function textAreaAdjust(o) {
                    o.style.height = "1px";
                    o.style.height = (25 + o.scrollHeight) + "px";
                }
            </script>

            <!-- jQuery -->
            <script src="assets/vendors/jquery/dist/jquery.min.js"></script>
            <!-- Bootstrap -->
            <script src="assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
            <!-- FastClick -->
            <script src="assets/vendors/fastclick/lib/fastclick.js"></script>
            <!-- NProgress -->
            <script src="assets/vendors/nprogress/nprogress.js"></script>
            <!-- bootstrap-progressbar -->
            <script src="assets/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
            <!-- iCheck -->
            <script src="assets/vendors/iCheck/icheck.min.js"></script>
            <!-- bootstrap-daterangepicker -->
            <script src="assets/vendors/moment/min/moment.min.js"></script>
            <script src="assets/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
            <!-- bootstrap-wysiwyg -->
            <script src="assets/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
            <script src="assets/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
            <script src="assets/vendors/google-code-prettify/src/prettify.js"></script>
            <!-- jQuery Tags Input -->
            <script src="assets/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
            <!-- Switchery -->
            <script src="assets/vendors/switchery/dist/switchery.min.js"></script>
            <!-- Select2 -->
            <script src="assets/vendors/select2/dist/js/select2.full.min.js"></script>
            <!-- Parsley -->
            <script src="assets/vendors/parsleyjs/dist/parsley.min.js"></script>
            <!-- Autosize -->
            <script src="assets/vendors/autosize/dist/autosize.min.js"></script>
            <!-- jQuery autocomplete -->
            <script src="assets/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
            <!-- starrr -->
            <script src="assets/vendors/starrr/dist/starrr.js"></script>
            <!-- Custom Theme Scripts -->
            <script src="assets/build/js/custom.min.js"></script>
</body>

</html>