<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>View User Page</title>

    <!-- Bootstrap -->
    <link href="assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="assets/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="assets/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="assets/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="assets/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="assets/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="assets/vendors/starrr/dist/starrr.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="assets/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="assets/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <% include ./nav %>
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">

                            <h3>View Users Assigned To Groups</h3>

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_content">
                                <br />

                                <!--view table for users-->
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Email</th>
                                            <th>Area and Group Assigned</th>
                                            <th>Role</th>
                                            <th>Contact Number</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        <% for (var info of data) { %>
                                        <form method="get" action="edituser">
                                            <tr>
                                                <th scope="row"><%= info.User_ID %></th>
                                                <input type="hidden" name="UID" value="<%= info.User_ID %>">
                                                <td><%= info.User_First %></td>
                                                <td><%= info.User_Last %></td>
                                                <td><%= info.email_address %></td>
                                                <td><%= info.Area_Name %> - <%= info.Group_Name %></td>
                                                <td><%= info.Role_Name %></td>
                                                <td><%= info.ContactNo %></td>
                                                <% if (info.Role != "1") {%>
                                                <td><button type="submit" class="btn btn-success">Edit</button></td>
                                                <% } %>
                                            </tr>
                                        </form>
                                        <% } %>
                                    </tbody>
                                </table>
                                <div class="ln_solid"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="main">
                    <div class="">
                        <div class="page-title">
                            <div class="title_left">

                                <h3>View Users Unssigned To Groups</h3>

                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_content">
                                    <br />

                                    <!--view table for users-->
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Email</th>
                                                <th>Contact Number</th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            <% for (var info2 of dataB) { %>
                                            
                                            <tr>
                                                <form method="get" action="edituser">

                                                    <th scope="row"><%= info2.User_ID %></th>
                                                    <input type="hidden" name="UID" value="<%= info2.User_ID %>">
                                                    <td><%= info2.User_First %></td>
                                                    <td><%= info2.User_Last %></td>
                                                    <td><%= info2.email_address %></td>
                                                    <td><%= info2.ContactNo %></td>
                                                    
                                                    <% if (info2.Role != "1") {%>
                                                    <td><button type="submit" class="btn btn-success">Edit</button></td>
                                                    <%}%>
                                                </form>
                                                <form method="get" action="addtogroup">
                                                    <input type="hidden" name="UID" value="<%= info2.User_ID %>">
                                                    <td><button type="submit" class="btn btn-success">Add to group</button></td>
                                                </form>
                                                
                                            </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                    <div class="ln_solid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- /page content -->

                    <!-- footer content -->
                    <footer>
                        <div class="pull-right">
                            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                        </div>
                        <div class="clearfix"></div>
                    </footer>
                    <!-- /footer content -->
                </div>
            </div>

            <!-- jQuery -->
            <script src="assets/vendors/jquery/dist/jquery.min.js"></script>
            <!-- Bootstrap -->
            <script src="assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
            <!-- FastClick -->
            <script src="assets/vendors/fastclick/lib/fastclick.js"></script>
            <!-- NProgress -->
            <script src="assets/vendors/nprogress/nprogress.js"></script>
            <!-- bootstrap-progressbar -->
            <script src="assets/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
            <!-- iCheck -->
            <script src="assets/vendors/iCheck/icheck.min.js"></script>
            <!-- bootstrap-daterangepicker -->
            <script src="assets/vendors/moment/min/moment.min.js"></script>
            <script src="assets/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
            <!-- bootstrap-wysiwyg -->
            <script src="assets/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
            <script src="assets/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
            <script src="assets/vendors/google-code-prettify/src/prettify.js"></script>
            <!-- jQuery Tags Input -->
            <script src="assets/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
            <!-- Switchery -->
            <script src="assets/vendors/switchery/dist/switchery.min.js"></script>
            <!-- Select2 -->
            <script src="assets/vendors/select2/dist/js/select2.full.min.js"></script>
            <!-- Parsley -->
            <script src="assets/vendors/parsleyjs/dist/parsley.min.js"></script>
            <!-- Autosize -->
            <script src="assets/vendors/autosize/dist/autosize.min.js"></script>
            <!-- jQuery autocomplete -->
            <script src="assets/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
            <!-- starrr -->
            <script src="assets/vendors/starrr/dist/starrr.js"></script>
            <!-- Custom Theme Scripts -->
            <script src="assets/build/js/custom.min.js"></script>

</body>

</html>
